address {
    font-style: normal
  }

button {
    color: inherit;
    font: inherit;
    margin: 0;
}

body {
    margin: 0 auto;
    width: 1440px;
    height: 2844px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background-color: #FFF;
}

.header {
    width: 1340px;
    height: 109px;
    margin: 92px 49px 92px 51px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-position: under;
}

.grid__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid_nav__header {
    align-self: center;
}

.grid_logo__header {
    justify-self: center;
}

.grid_address__header {
    justify-self: end;
    align-self: center;
}

.list__header {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style-type: circle;
}

.list_first_element__header {
    list-style-type: none;
}

.list_first_link__header {
    text-decoration: none;
}

.logo__header {
    display: block;
    max-width: 148px;
    max-height: 105px;
}

.main {
    width: 100%;
    height: auto;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
}

.background__half-transparent {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
}

.title__main {
    z-index: 1;
    display: block;
    height: 355px;
    width: 1340px;
    margin-top: 165px;
    margin-bottom: 135px;
}

.span_title__main {
    display: block;
    height: 115px;
    color: #FFF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.first_span__main {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.second_span__main {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 20px;
}

.third_span__main {
    display: flex;
    justify-content: end;
    height: 100px;
}

.second_line_main {
    z-index: 1;
    display: flex;
    margin-right: 50px;
    align-items: center;
    align-self: flex-end;
    gap: 78px;
    color: #FFF;
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

.change_letter__main {
    letter-spacing: 60px;
}

.change_o_letter__main {
    letter-spacing: 0px;
}

.subtitle_cover__main {
    word-spacing: 18px;
}

.button__main {
    width: 257px;
    height: 52px;
    background-color: transparent
}

button {
    border: rgb(255, 255, 255) solid 1px;
    text-transform: uppercase;
}

.lots {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 1340px;
    height: 579px;
    margin: 180px auto;
}

.subtitle_lots__main {
    margin-left: 40px;
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.list_lots__main {
    display: flex;
    list-style-type: none;
    gap: 25px;
    justify-content: space-between;
    max-height: 450px;
    margin-top: 27px;
    margin-bottom: 30px;
}

.list_lots__first_element {
    min-height: 450px;
    max-width: 430px;
    flex-grow: 1;
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.list_lots__second_element {
    min-height: 450px;
    max-width: 430px;
    flex-grow: 1;
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.list_lots__third_element {
    box-sizing: border-box;
    min-height: 450px;
    max-width: 430px;
    flex-grow: 1;
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   }

.link__lots {
    text-decoration: none;
}

.first_text_contetnt__lots {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
}

.second_text_contetnt__lots {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
}

.third_text_contetnt__lots {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
}

.link_text__lots {
    color: #FFF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
}

.paragraph__lots {
    color: #FFF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
}

.watch_more__lots {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
    text-underline-position: under;
}

.about {
    display: grid;
    column-gap: 25px;
    grid-template-columns: 430px 885px;
    grid-template-rows: 487px 487px;
    margin: 0 50px 180px;
    width: 1340px;
    height: 487px;
}

.container_logo__about {
    display: flex;
    width: 240px;
    height: 240px;
    margin: 0px 95px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
}

.logo__about {
    display: block;
    width: 148px;
    height: 114px;
}

.list_about {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
}

.subtitle__about {
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.second_list_element__about {
    margin-bottom: 25px;
}

.footer {
    width: 1340px;
    height: 97px;
    margin: 0 50px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-position: under;
}

.grid__footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid_address__footer {
    justify-self: start;
}

.grid_nav__footer {
    justify-self: center;
}

.grid_logo__footer {
    justify-self: end;
}

.list__footer {
    list-style-type: none;
    line-height: 22px;
    text-align: center;
}

.list_first_element__footer {
    text-decoration: none;
}

.list_logo__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
    height: 48px;
    list-style-type: none;
}

.logo__footer {
    display: block;
    width: 48px;
    height: 48px;
}